<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>
            <button mat-button [routerLink]="['/pages']">
                <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon> Inicio
            </button>
        </span>
 
        <button mat-button [routerLink]="['/pages/dashboard']">Dash</button>
 

        <span class="example-spacer"></span>

        <button mat-button [matMenuTriggerFor]="animals">
            <mat-icon>person</mat-icon>
            <span class="user-label">{{RealName}} - ({{PlayerName}})</span>
            <mat-icon>keyboard_arrow_down</mat-icon>
        </button>

    
        <mat-menu class="menu-right" #animals="matMenu">
            <button [routerLink]="['/pages/profile-player']" mat-menu-item>Profile</button>
            <button (click)="Logout()" mat-menu-item>Sair</button>
        </mat-menu>



    </mat-toolbar-row>
</mat-toolbar> 
<div id="master">
    <router-outlet></router-outlet>
</div>