.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  #master {
    max-width: 98%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 0 auto;
    padding-top: 2%;
  }
  