 .left-side{
    place-content: center;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    flex: 1 1 100%;
    max-width: 20%;
 }

 .right-side{
    place-content: left;
    align-items: left;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    flex: 1 1 100%;
    max-width: 80%;
 }
 
  .box-shadow{
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    max-width: 98%;
    padding: 1%;
}

input{
    color:black !important;
}

.avatar {
    width: 100%;
    max-width: 240px;
    min-width: 40px;
    max-height: 240px;
    height: 100%;
    line-height: 40px;
    margin: 0 8px 0 0;
    border-radius: 50%;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    color: #FFF;
    outline: none;
  }
   
 