<div fxLayout="row" class="box-shadow" fxLayoutAlign="center center" >

    <div class="left-side" fxflex="20" fxlayoutalign="center center"> 
        <div fxLayout="row" fxLayoutAlign="end none" >
            <img class="profile-image avatar huge" src="{{imgAvatar}}">
          </div>
    </div>

    <div class="right-side" fxflex="80" fxlayoutalign="center center"> 
       

        <table  cellspacing="0"><tr>
            <td><mat-form-field appearance="fill">
              <mat-label>Nome Real</mat-label>
              <input matInput disabled value="{{user.realName}}">
            </mat-form-field>
            </td>
             
            <td><mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput disabled value="{{user.email}}">
              </mat-form-field>
              </td>

              <td ><mat-form-field appearance="fill">
                <mat-label>Celular</mat-label>
                <input matInput disabled value="{{user.celPhone}}">
              </mat-form-field>
              </td>

              <td ><mat-form-field  appearance="fill">
                <mat-label>Tipo de Acesso</mat-label>
                <input matInput  disabled value="{{typeAcessText}}">
              </mat-form-field>
              </td>

              
          </tr></table>

    </div>
   
</div>
