#master {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}


.bg {
    background-image: url(https://startrekfleetcommand.scopely.com/wp-content/uploads/sites/5/2020/10/ConquestBackground-768x384.png);
    /* background-color: grey; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #fff !important;
}

@keyframes spinner {
    to {transform: rotate(360deg);}
  }
   
  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #9c9c9c;
    border-top-color: #000000;
    animation: spinner .8s linear infinite;
  }
 
